@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,700');
@import url('/css/hover-min.css');

.bold {
  font-weight: 600;
}

.project-card-container {
  position: relative; 

  width: 25vw;
  min-height: 65vh;

  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #747474;

  background-color: #fff;
  border: 1px solid #b8b8b8;

  margin-bottom: 8vh;

  -webkit-box-shadow: 0 0 15px #ccc;
  -moz-box-shadow:    0 0 15px #ccc;
  box-shadow:         0 0 15px #ccc;

  scroll-snap-align: center;
}

.shadow {
  -webkit-box-shadow: 0 0 20px #9e9d9a;
  -moz-box-shadow:    0 0 20px #9e9d9a;
  box-shadow:         0 0 20px #9e9d9a;
}

.project-card-image {
  width: 25vw;
  height: 25vh;
}

.project-card-title {
  padding: 0 1vw 0 1vw;
  font-size: 32px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  color: #0A3F96;
}

.project-card-desc {
  padding: 0 0 1vh 1vw;
  color: black;
}

.project-card-desc:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #e6714b;
  margin: 2vh 1vw 0 0;
}

.project-card-class {
  padding-left: 1vw;
}

.project-card-tech {
  padding-left: 1vw;
}

.project-card-view-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;

  margin-bottom: 3vh; /* FIX */
  position: absolute; /* FIX */
  bottom: 15px; /* FIX */
}

.project-card-view-links a {
  padding: 3vh 3vw 0 3vw;
  color: #0A3F96;
  text-decoration: none;
}

.project-card-live-link {
  padding: 1vw;
}

.project-card-repo-link {
  text-align: right;
}