@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,700');

.bold {
  font-weight: 600;
}

.project-card-container {
  width: 25vw;
  min-height: 70vh;

  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #747474;

  background-color: #fff;
  border: 1px solid #b8b8b8;

  margin-bottom: 8vh;
}

.shadow {
  -webkit-box-shadow: 0 0 15px #ccc;
  -moz-box-shadow:    0 0 15px #ccc;
  box-shadow:         0 0 15px #ccc;
}

.project-card-image {
  width: 25vw;
  height: 25vh;
}

.project-card-title {
  padding: 0 1vw 0 1vw;
  font-size: 32px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  color: #0A3F96;
}

.project-card-desc {
  padding: 0 1vw 0;
  color: black;
}

.project-card-class {
  padding: 1vw;
}

.project-card-tech {
  padding: 1vw;
}

.project-card-view-links {
  width: 100%;
  margin-bottom: 15px;
}

.project-card-view-links a {
  color: #0A3F96;
  text-decoration: none;
}

.project-card-live-link {
  padding: 1vw;
}

.project-card-repo-link {
  text-align: right;
}