@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

#projects-container {
  margin: 0 5vw 0 5vw;

  width: 90vw;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

#project-index-h1 {
  margin: 5vh 0 5vh 10vw;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-two);
}
